.top-menu {
    display: none;
    @include breakpoint($lg) {
        display: inline-block;
        vertical-align: middle;
        width: 69%;
    }
    ul {
        display: block;
        width: 100%;
        text-align: center;
        li {
            display: inline-block;
            position: relative;
            padding: 0 1px;
            a {
                display: block;
                padding: 12px;
                border-radius: 4px;
                background: rgba(0, 14, 22, 0.6);
                color: $white;
                font-family: $questa;
                font-size: 15px;
                @include breakpoint($xlg) {
                    font-size: 16px;
                }
                text-decoration: none;
                @include transition (background 0.5s);
                &:hover {
                    background: rgba(0, 14, 22, 0.8);
                }
            }
            ul {
                display: none;
            }
        }
    }
}
.footer-menu {
    @extend .top-menu;
    ul li ul {
        bottom: 20px;
    }
}
.mobile-menu {
    .buttonwrap {
        padding: 15px 0 0 20px;
        button {
            background: $pink;
            padding: 10px 26px;
        }
    }
    font-size: 22px;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: $blue;
    z-index: 100;
    line-height: 1.6;
    ul {
        position: absolute;
        @include transform(translateY(-50%));
        top: 50%;
        width: 100%;
        left: 0;
        display: block;
        text-align: center;
        li {
            padding: 10px 0;
            a {
                font-family: $questa;
                text-decoration: none;
                color: white;
            }
            ul {
                background: $blue;
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                @include transform(translateY(0));
            }
        }
    }
}
.menu_button {
    @include breakpoint($lg) {
        display: none;
    }
    @include breakpoint($sm) {
        font-size: 64px;
    }
    @include breakpoint($md) {
        font-size: 75px;
    }
    z-index: 100;
    position: fixed;
    top: 20px;
    right: 6px;
    font-size: 55px;
    color: $black;
    background: none;
    border: none;
    outline: none;
    box-shadow: none!important;
    color: $blue;
    &:before {
        font-family: 'icomoon';
        content: "\e600";
    }
    &.is-open:before {
        font-family: 'icomoon';
        content: "\e601";
        color: $white
    }
   
}
