/*
COLOURS*/

$black: #151515;
$white: #fff;
$light-grey: #f7f6f6;

$pink: #b32a57;
$dark-pink: #b32a57;
$orange: #d36c24;
$blue: #000e16;
$green: #a0b13e;
$teal: #127a5c;
$light-teal: #259474;
$purple: #382a6c;

/*  
FONTS */

$questa: "questaregular", serif;

$condensed: "RobotoCondensed",
sans-serif;
$condensedBold: "RobotoBoldCondensed",
sans-serif;
$regular: "RobotoRegular",
sans-serif;
$medium: "RobotoMedium",
sans-serif;
$bold: "RobotoBold",
sans-serif;
$light: "RobotoLight",
sans-serif;

/*
MORE */
$shadow: 1px 1px 3px rgba(1, 1, 3, 0.7);

